.scrollable-content {
    max-height: 80dvh; /* Or whatever height suits your design */
    overflow-y: auto; /* This enables vertical scrolling */
  }




  ng-scrollbar {

    visibility: always;



    width : 100%;
    height : 100%;


    --scrollbar-border-radius: 20px;
    
    --scrollbar-thickness: 10;
    
    --scrollbar-offset: 5;
    
    --scrollbar-track-wrapper-transition: width 60ms linear, height 60ms linear;
    


    --scrollbar-track-color: rgb(0 0 0 / 75%);
    
    --scrollbar-thumb-color: rgb(255 255 255 / 80%);
    
    --scrollbar-thumb-hover-colorIn: rgb(255 255 255 / 100%);   /* Hover color doesn't work without an input var */
    --scrollbar-thumb-hover-color: var(--scrollbar-thumb-hover-colorIn);
    
    --scrollbar-hover-thickness: var(--scrollbar-thickness);
    
    --scrollbar-thumb-transition: none;
    
    --scrollbar-thumb-min-size: 20;
    
    --scrollbar-button-color: var(--scrollbar-thumb-color);
    --scrollbar-button-hover-color: var(--scrollbar-button-color);
    --scrollbar-button-active-color: var(--scrollbar-button-hover-color);
    
    --scrollbar-button-fill: white;
    --scrollbar-button-hover-fill: var(--scrollbar-button-fill);
    --scrollbar-button-active-fill: var(--scrollbar-button-hover-fill);
    
    --scrollbar-overscroll-behavior: initial;
    
    --scrollbar-mobile-overscroll-behavior: none;

    mask-image: linear-gradient(to bottom, black calc(100% - 48px), transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 48px, black calc(100% - 48px), transparent 100%);

    }