<div id="container" class="app-tab" (click)="onTabClick()" (mouseenter)="emitPanelDescription()" (mouseleave)="emitClearPanelDescription();">
    
    <div id="block" [style.background-color]="buttonColor"></div>

    <ng-template [ngIf]="(iconUrl==='')">
        <fa-icon [icon]="iconDef" id="icon"></fa-icon>
    </ng-template>


    <ng-template [ngIf]="(iconUrl!=='')">
        <img id="iconImage" [src]="iconUrl">
    </ng-template>


    <div id="text">{{ name }}</div>

    <ng-template [ngIf]="(isExternalLink===true)">
        <div id="fold-arrow">⬈</div>
    </ng-template>

    <ng-template [ngIf]="(isExternalLink===false)">
        <div id="fold-arrow">▻</div>
    </ng-template>
    
</div>