<div class="fullscreen-container">

    <app-shader-background></app-shader-background>

    <div class="overlay-content" style="scale:0.90">

        <ng-scrollbar
            [position]="'invertY'"
            [appearance]="'compact'"
            >
        
            <div class="scrollbar-elements">

                <br style="display:block; margin:5.0dvh 0;"/>

                <app-tab
                    [name]="'About'"
                    [panelText]="'Hello, welcome to my website!\n\nI\'m Aidan Cusack, a computer science student at the Rochester Institute of Technology and game-development hobbyist currently seeking a co-op/paid internship opportunity in related fields.\n\nClick the buttons on the left to view additional information and content.\n\nButtons marked with (↗) will open a new tab in your browser.'"
                    (panelTextOut)="handlePanelTextEvent($event)"
                    [iconDef]="faUser"
                    [buttonColor]="'lightgray'"
                    [isExternalLink]="false"
                    [clickEvent]="onClickAboutMe"
                    (outputTabID)="handleTabIDEvent($event)"
                    [description]="'Click to view information about me, my skills, and my projects.'"
                    (panelDescriptionOut)="handleTabDescriptionEvent($event)"
                    (panelDescriptionClear)="handleClearTabDescriptionEvent($event)"
                    >
                </app-tab>

                <app-tab
                    [name]="'Shaders'"
                    [panelText]="''"
                    (panelTextOut)="handlePanelTextEvent($event)"
                    [iconUrl] = "'assets/images/ShaderIconAlt.png'"
                    [buttonColor]="'gray'"
                    [isExternalLink]="false"
                    [clickEvent]="onClickShaders"
                    (outputTabID)="handleTabIDEvent($event)"
                    [description]="'Click to view a selection of some of my favorite 2D shaders (programatically-generated effects).\n\nYou can hover over the preview images to animate them, and scroll down to see more.\n\nThe shaders could take a moment to load, and may not display correctly on some devices.'"
                    (panelDescriptionOut)="handleTabDescriptionEvent($event)"
                    (panelDescriptionClear)="handleClearTabDescriptionEvent($event)"
                    >
                </app-tab>

                <app-tab
                    [name]="'Ring War'"
                    [iconDef]="faSteam"
                    [buttonColor]="'#171a21'"
                    [isExternalLink]="true"
                    [clickEvent]="onClickRingWar"
                    (outputTabID)="handleTabIDEvent($event)"
                    [description]="'Click to view the Steam page for my first publically-released game, Ring War.\n\nRing War is a 2D top-down online multiplayer shooter with a focus on fast-paced and strategic gameplay. Players can battle against up to 15 other human or AI opponents, or alongside them as teammates.\n\nThe game entered Early Access in 2022, and remains in development between other projects.'"
                    (panelDescriptionOut)="handleTabDescriptionEvent($event)"
                    (panelDescriptionClear)="handleClearTabDescriptionEvent($event)"
                    >
                </app-tab>

                <app-tab
                    [name]="'LinkedIn'"
                    [iconDef]="faLinkedin"
                    [buttonColor]="'rgba(0, 123, 181, 1.00)'"
                    [isExternalLink]="true"
                    [clickEvent]="onClickLinkedIn"
                    (outputTabID)="handleTabIDEvent($event)"
                    [description]="'Click to view my LinkedIn page.\n\nRemember to Connect with me! 🙂'"
                    (panelDescriptionOut)="handleTabDescriptionEvent($event)"
                    (panelDescriptionClear)="handleClearTabDescriptionEvent($event)"
                    >
                </app-tab>

                <app-tab
                    [name]="'GitHub'"
                    [iconDef]="faGithub"
                    [buttonColor]="'#333'"
                    [isExternalLink]="true"
                    [clickEvent]="onClickGitHub"
                    (outputTabID)="handleTabIDEvent($event)"
                    [description]="'Click to view my GitHub page.\n\nI display a number of personal and academic projects here, demonstrating some of my skills in programming, game development, and more.'"
                    (panelDescriptionOut)="handleTabDescriptionEvent($event)"
                    (panelDescriptionClear)="handleClearTabDescriptionEvent($event)"
                    >
                </app-tab>


                <app-tab
                    [name]="'Music'"
                    [iconDef]="faYoutube"
                    [buttonColor]="'rgba(255, 0, 0, 1.00)'"
                    [isExternalLink]="true"
                    [clickEvent]="onClickYouTube"
                    (outputTabID)="handleTabIDEvent($event)"
                    [description]="'Click to view my Official Artist Channel on YouTube.\n\nI create and upload original instrumental music here.'"
                    (panelDescriptionOut)="handleTabDescriptionEvent($event)"
                    (panelDescriptionClear)="handleClearTabDescriptionEvent($event)"
                    >
                </app-tab>

                <br style="display:block; margin:5.0dvh 0;"/>
            </div>

        </ng-scrollbar>


        <app-panel *ngIf="tabDescriptionText!='\'\''" [panelText]="tabDescriptionText" [backgroundColor]="'#111111E0'" [style.scale]="0.97"></app-panel>

        <div [hidden]="tabDescriptionText!='\'\''" [ngSwitch]="this.panelTypeTargetName">
            <app-panel-shader *ngSwitchCase="'shaderPanel'" [panelText]="panelText"></app-panel-shader>
            <app-panel *ngSwitchDefault [panelText]="panelText"></app-panel>
        </div>

    </div>
</div>
