<div class="fullscreen-container">

    <app-shader-background></app-shader-background>

    <div class="overlay-content" style="scale:0.90">

        <ng-scrollbar
            [position]="'invertY'"
            [appearance]="'compact'"
            >
        
            <div class="scrollbar-elements">

                <br style="display:block; margin:5.0dvh 0;"/>

                <app-tab
                    [name]="'About'"
                    [panelText]="'[TODO: Display About Page...]'"
                    (panelTextOut)="handlePanelTextEvent($event)"
                    [iconDef]="faUser"
                    [buttonColor]="'lightgray'"
                    [isExternalLink]="false"
                    (outputTabID)="handleTabIDEvent($event)"
                    >
                </app-tab>

                <app-tab
                    [name]="'Shaders'"
                    [panelText]="''"
                    (panelTextOut)="handlePanelTextEvent($event)"
                    [iconUrl] = "'assets/images/ShaderIconAlt.png'"
                    [buttonColor]="'gray'"
                    [isExternalLink]="false"
                    [clickEvent]="onClickShaders"
                    (outputTabID)="handleTabIDEvent($event)"
                    >
                </app-tab>

                <app-tab
                    [name]="'Ring War'"
                    [iconDef]="faSteam"
                    [buttonColor]="'#171a21'"
                    [isExternalLink]="true"
                    [clickEvent]="onClickRingWar"
                    (outputTabID)="handleTabIDEvent($event)"
                    >
                </app-tab>

                <app-tab
                    [name]="'LinkedIn'"
                    [iconDef]="faLinkedin"
                    [buttonColor]="'rgba(0, 123, 181, 1.00)'"
                    [isExternalLink]="true"
                    [clickEvent]="onClickLinkedIn"
                    (outputTabID)="handleTabIDEvent($event)"
                    >
                </app-tab>

                <app-tab
                    [name]="'GitHub'"
                    [iconDef]="faGithub"
                    [buttonColor]="'#333'"
                    [isExternalLink]="true"
                    [clickEvent]="onClickGitHub"
                    (outputTabID)="handleTabIDEvent($event)"
                    >
                </app-tab>


                <app-tab
                    [name]="'Music'"
                    [iconDef]="faYoutube"
                    [buttonColor]="'rgba(255, 0, 0, 1.00)'"
                    [isExternalLink]="true"
                    [clickEvent]="onClickYouTube"
                    (outputTabID)="handleTabIDEvent($event)"
                    >
                </app-tab>

                <br style="display:block; margin:5.0dvh 0;"/>
            </div>

        </ng-scrollbar>

        <div [ngSwitch]="this.panelTypeTargetName">
            <app-panel-shader *ngSwitchCase="'shaderPanel'" [panelText]="panelText"></app-panel-shader>
            <app-panel *ngSwitchDefault [panelText]="panelText"></app-panel>
        </div>

    </div>
</div>
