#container {

    --padding-horizontal: 2vw;
    --padding-vertical: 4vw;

    cursor: pointer;
    display:flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding: var(--padding-horizontal) var(--padding-vertical); /* Add padding */
    border: none;
    position: relative;

    }

#block {
    width: 24vw;
    margin: auto;
    background-color: c_white; /* Make sure this is a valid color value */
    opacity: 0.60;
    border-radius: 2vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform 0.20s, opacity 0.20s; /* Apply transition to transform and opacity */
    }

#container:hover #block {
    transform: scale(1.05); /* Use transform property for scaling */
    opacity: 1.00;
    }

#container:not(:hover) #block {
    transition: transform 0.50s, opacity 0.50s; /* Apply transition to transform and opacity */
    }

#text {

    user-select: none;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    gap: 2vw;
    z-index: 1;

    }